.random-picker-app {
    display: grid;
    grid-template-columns: 320px 1fr;
    gap: 2rem;
    align-items: start;
}

.controls {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    flex-wrap: wrap;
}

textarea {
    width: 100%;
    min-height: 200px;
    margin-top: 8px;
    padding: 8px;
    font-size: 16px;
}

#generateTeamsBtn:focus {
    outline: 4px solid var(--blue-light);
    outline-offset: 2px;
}

.controls button[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
}

#pickerResult {
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 900px) {
    .random-picker-app {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}