---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout
	title="Home - TeachTools"
	description="TeachTools is a free library of interactive and educational tools for teachers, professors, and team leaders. TeachTools offers a Seating Chart Generator, a Team Generator, and a Random Student Picker. All tools on TeachTools are free to use, no payment or login required."
>
	<h1>Welcome to TeachTools</h1>
	<p>Tools for teachers</p>
</PageLayout>
