---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Home - TeachTools">
	<h1>Welcome to TeachTools</h1>
	<p>Tools to help teachers manage their classrooms.</p>
</PageLayout>
