---
// Header component - shared across all pages
---

<header class="panel panel-blue">
	<nav>
		<a href="/">Home</a>
		<a href="/seating-chart-generator">Seating Chart</a>
		<a href="/team-generator">Team Generator</a>
		<a href="/random-student-picker">Random Picker</a>
	</nav>
</header>
